* {
    color: white;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



.navbar {
    height: 60px;
    background-color: black;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("https://assets.aboutamazon.com/2e/d7/ac71f1f344c39f8949f48fc89e71/amazon-logo-squid-ink-smile-orange.png");
    background-size: cover;
    height: 30px;
    width: 100px;
   
}
.border {

border: 2px solid transparent; 

}
.border:hover {
    border: 2px solid white;
}